form {
    border: 1px solid #999;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(132, 248, 159, 0.21);
}
.input-group,
input {
    display: block;
    font-size: 1.8rem;
    width: 50rem;
    margin: 1rem auto
}

::placeholder { 
    color: red;
    opacity: 1; 
    font-size: 1.4rem;
  }

label {
    font-size: 1.6rem;
}

button {
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
}

#mensagem p {
    font-size: 1.4rem;
    color: #f00;
}

#mensg_nome, #mensg_email, #mensg_cpf, #mensg_cep {
    font-size: 1.5rem;
    font-style: italic;
    color: #ff0f47;
}   

strong {
    font-size: 1.4rem;
}